/.metadata
/RemoteSystemsTempFiles
/Servers
/gaibo-parent/gaibo-query-server/.mvn
/gaibo-parent/gaibo-common/.settings
/gaibo-parent/gaibo-common/.classpath
/gaibo-parent/gaibo-common/.project
/gaibo-parent/.settings
/gaibo-parent/.project
.recommenders/*
